[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-pymongo = "*"
flask-cors = "*"
pylint = "*"
"autopep8" = "*"
requests = "*"

[dev-packages]
pylint = "<2.0.0"
"autopep8" = "*"

[requires]
python_version = "3.6"
