.button{
    width: fit-content;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    height: 100%;
    box-sizing: border-box;
}
.button:hover{
    cursor: pointer;
    border-bottom: 5px solid;
}