.intro-block__title{
    font-size: 42px;
    position: relative;
    left: -75px;
}
.intro-block__text{
    height: 290px;
    width: 550px;
    text-align: justify;
}
.title{
    font-size: 18px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 20px;
}
.text{
    text-align: justify;
    margin: 0;
}
.text--newsDemo{
    width: 280px;
    height: 95px;
}
.achievment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title--achievment{
    margin-top: 20px;
}

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 45px;
    margin-top: 40px;
}
.navigation-ball{
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 100%;
}
.navigation-ball--selected{
    background: transparent;
    border: solid lightslategray 2px
}

.achievment-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}