.intro-block__title{
    font-size: 42px;
    position: relative;
    left: -75px;
}
.intro-block__text{
    height: 290px;
    width: 550px;
    text-align: justify;
}
.photo-news-demo__title{
    font-size: 18px;
    text-transform: uppercase;
}
.photo-news-demo__text{
    width: 280px;
    height: 95px;
    text-align: justify;
}